<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit The Message</title>
</head>
<body>
    <h3>Edit Message</h3>
    <form action="/chats/<%= chat._id %>?_method=PUT" method="post">
        <textarea name="msg"><%= chat.msg %></textarea>
        <Button>Edit</Button>
    </form>
</body>
</html>